<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNKcm25kTZ2UibUJK_ENaXpDdZSJrMnFA</string>
	<key>GCM_SENDER_ID</key>
	<string>276754271945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idr.technologies</string>
	<key>PROJECT_ID</key>
	<string>idr-mobile-application</string>
	<key>STORAGE_BUCKET</key>
	<string>idr-mobile-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276754271945:ios:2a4350de4675b387b30718</string>
</dict>
</plist>